# Configurazione Database MySQL
DB_HOST=db
DB_NAME=todo_db
DB_USER=todo_user
DB_PASSWORD=todo_pass

# JWT Secret Key (cambiala in produzione!)
JWT_SECRET=supersecretkey123456789

# Porta esposta
BACKEND_PORT=8001
DB_PORT=3307
